### MacOS
#
.DS_Store


### Emacs
#
**/auto/*.el


### hugo
# these two are produced by running 'hugo' in CLI
#
.hugo_build.lock
public
resources


### LaTeX junk
#
src/**/*.aux
src/**/*.log
src/**/*.out
src/**/*.pdf
src/**/*.synctex.gz
src/**/*.toc
src/**/*.tex
