// Font
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap");

$black: #212529;
$font-family-base: "Roboto", Arial, sans-serif, -apple-system;

// Global
body {
  font-family: Roboto, -apple-system, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: $black;
}

.profile-pic {
  order: 2;
  max-width: 250px;
  padding-left: 1rem;
  padding-top: 3rem;
}

.bd-navbar {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  min-height: 2rem;
}

.bd-sidebar {
  padding-top: 2rem;
  font-size: 0.875rem;
}

.bd-toc {
  position: sticky;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
}

.bd-content {
  font-size: 1rem;
  padding-top: 2rem;
}

article {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: larger;

  .katex {
    font-size: 1em;
  }
}

.homepage {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  padding-top: 3rem;

  h1 {
    text-align: center;
    font-weight: 300;
    font-size: xx-large;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: large;
  }
}
