<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- prettier-ignore -->
    <title>
      {{ block "title" . }}
        {{ if .IsHome }}
          {{ .Site.Title }}
        {{ else }}
          {{ .Site.Title }} - {{ .Title }}
        {{ end }}
      {{ end }}
    </title>

    <!-- resources that requires pre-processing -->
    {{ $style := resources.Get "scss/style.scss" | toCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>
  <body>
    <!-- main -->
    {{ block "container" . }}
    <main>
      <!-- prettier-ignore -->
      <div class="container">
        {{ block "main" . }}
         {{ .Content }}
        {{ end }}
      </div>
    </main>
    {{ end }}

    <!-- nav -->
    {{ block "navbar" . }}
    <nav>
      <a href="/" class="logo"> {{ .Site.Title }} </a>

      {{ range .Site.Home.CurrentSection.Pages }}
      <!-- prettier-ignore -->
      <a href="{{.Permalink }}">
        {{ if .Params.short_title  }}
          {{ .Params.short_title }}
        {{ else}}
          {{ .Title }}
        {{ end }}
      </a>
      {{ end }}
    </nav>
    {{ end }}

    <!-- include math in every page -->
    {{ partial "mathjax.html" . }}

    <!-- include syntax highlighting in everypage -->
    {{ partial "highlighjs.html" . }}
  </body>
</html>
