{{ define "main" }}
<article class="landing">
  <h1 id="title">Kelvin T. Y. Chan</h1>

  <section id="abstract">
    <div id="bio">
      <p>
        <emph style="font-size: x-large">Hallo!</emph> I am a third-year
        mathematics Ph.D. student at York University. My research focuses on
        algebraic and enumerative combinatorics. I am interested in
        understanding and exploring the combinatorial underpinning of objects
        coming from representation theory of the symmetric groups and its
        analogues.
      </p>
    </div>

    <div id="profile-picture">
      <img src="/profile.jpeg" />
    </div>
  </section>

  {{ .Content }}
</article>
{{ end }}
