iframe.slides {
  min-height: 400px;
  width: 100%;
}

.ace_editor {
  border: 1px solid lightgray;
  margin-bottom: 1px !important;
  width: 100%;
  min-height: 15rem;
  max-height: 100% !important;
}
div.spacer {
  margin-top: 16px;
}

/* from David for side-by-side layout */
div.hleft {
  float: left;
  width: 50%;
}
div.hright {
  float: right;
  width: 50%;
}

@media only screen and (max-width: 960px) {
  div.hleft {
    width: 100%;
  }
  div.hright {
    width: 100%;
  }
}
